[Unit]
Description="{{ forge_name }}-stylo-short-worker %I"
PartOf={{ forge_name }}-workers.target

[Service]
User={{ user }}
Group={{ user }}
Restart=always
ExecStart={{ forge_cmd }} worker --queue long
StandardOutput=file:{{ forge_dir }}/logs/worker.log
StandardError=file:{{ forge_dir }}/logs/worker.error.log
WorkingDirectory={{ forge_dir }}
